* {
  font-family: "Advent Pro", sans-serif;
  color: #1b1b1b;
}
body {
  background-color: #efebe9;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #a69b97;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: #1b1b1b;
  letter-spacing: 0.15em;
}

/* nav li:hover {
} */

a:link {
  text-decoration: none;
}

.search {
  position: absolute;
  right: 100px;
}

.toggle {
  display: none;
  position: absolute;
  left: 35px;
  top: 30px;
  font-size: 22px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainImage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0px 100px;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  nav ul.active {
    display: flex;
  }

  nav li {
    list-style: none;
    padding: 8px;
  }
  .search {
    right: 35px;
    top: 30px;
    font-size: 22px;
  }
  .toggle {
    display: block;
  }

  .mainImage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #mainText {
    display: none;
  }

  .articles {
    display: none;
    flex-direction: row;
  }
}

#mainImage {
  height: 400px;
  width: 350px;
  flex: 0 1 auto;
}

#mainText {
  width: 750px;
}

.articles {
  display: flex;
  text-align: center;
  margin: 60px 0px;
  justify-content: space-around;
}

.articles article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid black;
}

article > img {
  height: 450px;
  width: 350px;
}

article > a {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

footer {
  display: flex;
}

footer div {
  border: 1px solid #bdb9b7;
  flex: 1;
}
